// Color Names
$white: #ffffff;
$yellow: #ffff00;
$orange: #ffb12f;
$gold: #f5dc73; /* #f5da6a */
$gold2: #f3d350;
$orange2: #f2a82d;
$off-white: #f0eff4;
$cream: #eee8d6;
$orange3: #e69f2a;
$yellow-green: #d2d651;
$red: #d14348;
$silver: #c0c0c0;
$yellow-green2: #bfc406;
$yellow-green3: #acb005;
$brown: #312a10;
$black: #000000;
$googleblue: #4285F4;
$googleyellow: #FBBC05;
$googlegreen: #34A853;
$googlered: #EA4335;
