@import "variables";
@import "variables";
@import "mixins";

@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900);

form {
  color: $red;
}

button {
  color: $black;
}

#sign-up {
  color: $googleblue;
}

.jumbotron.center {
  border: $black;
}

#larry {
  image-orientation: center;
  margin-right: 50%;
}

#bar {
  color: $black;
  font: 50px;
}

ul {
  float: right;
  padding-right: 250px;
  color: $black;
  font: 50px;
}

nav {
  color: $black;
}

body {
  // background-image: url("../assets/images/curb10.jpg");
}
