@import "variables";
@import "mixins";

@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900);

form {
  color: $red;
}

button {
  color: $black;
}

#sign-up {
  color: $googleblue;
  // float: left;
}


.jumbotron.center {
  border: $black;
}

#larry {
  image-orientation: center;
  margin-right: 50%;
}

#post {
  padding-top: 80px;
}



#barhome {
  float: right;
  color: $black;
  font: 50px;
}

#bar {
  // float: right;
  padding-right: 100px;
  padding-top: 65px;
  color: $black;
  font: 50px;
}

nav {
  color: $black;
}

body {
  // background-image: url("../assets/images/curb10.jpg");
}

#demo {
  text-align: center;
}

// #demo{
// 	font-family: sans-serif;
// 	color: $black;
// 	display: inline-block;
// 	font-weight: 100;
// 	text-align: center;
// 	font-size: 30px;
// }
//
// #demo > div{
// 	padding: 10px;
// 	border-radius: 3px;
// 	background: $dkgray;
// 	display: inline-block;
//   align: center;
// }
//
// #demo div > span{
// 	padding: 15px;
// 	border-radius: 3px;
// 	background: $white;
// 	display: inline-block;
// }
