button.submit {
  float: right;
}

form#sign-up {
  margin-top: 50px;
}

#sign-up textarea {
  resize: none;
}

.panel-heading button.delete,
button.edit {
  float: right;
  margin: 5px;
}

.top-30 {
  margin-top: 30px;
}

.jumbotron.center {
	text-align: center;
    border: 3px solid green;
}

.row.center {
	text-align: center;
}
